// ----------------- MIXINS ---------------------

@mixin btn {
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: .9em auto;
    font-family: $font-secondary;
    font-weight: 700;
    @content; 
    }


@mixin theme__colors {
    width: 100%;
    font-size: .9em;
    padding: 15px;
    border-radius: 5px;
    border: none;
    text-align: left;
    @content;
        @media (min-width: $break-m) {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    } 
}

@mixin grid-row-m {
    flex-direction: row;
    @content;
}