// ----------------- MIXINS ---------------------

// ----- @mixin btn IS PERFECT BUT WANTED TO TRY @EXTENDS ----- 
// @mixin btn {
//     text-transform: uppercase;
//     color: white;
//     text-align: center;
//     margin: .9em auto;
//     font-family: $font-secondary;
//     font-weight: 700;
//     @content; 
//     @media (min-width: $break-m) {
//     justify-content: space-around;
//     flex-basis: 0;
//     min-width: 150px;
//     } 
// }


@mixin theme__colors {
    width: 100%;
    font-size: .9em;
    padding: 15px;
    border-radius: 5px;
    border: none;
    text-align: left;
    @content;
        @media (min-width: $break-m) {
        display: flex;
        flex-direction: row;
    } 
}

// ***** Media Queries *****
@mixin mq($break) {
    @if $break == "small" {
        @media (min-width: $break-xs) and (max-width: $break-m) {
            @content;
        }
    }
    @else if $break == "medium" {
        @media (min-width: $break-m + 1) {
            @content;
        }
    }
    @else if $break == "large" {
        @media (min-width: $break-l) {
            @content;
        }
    }
    @else {
        @error "Sorry, no value retrieved for ''."
    }
}

@mixin med-break {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 10px;
    @content;
}

// @mixin grid-row-m {
//     display: flex;
//     flex-direction: row;
//     @content;
// }

// ***** Center Content *****
@mixin center {
    width: 90%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

// ***** Indent Typography *****
@mixin indented-text {
    text-align: left;
    margin-left: 20px;
    width: 90%;
}

// ***** Flexbox *****
@mixin flexy {
    display: flex;
    justify-content: space-between;
}
