// -------------------- FONTS ------------------------
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Gothic A1', sans-serif;

// -------------------- LAYOUT ------------------------
$max-width: 1100px;

// ----------------- BREAKPOINTS ---------------------

$break-s: 480px;
$break-m:768px;
$break-l: 1400px;


// -------------------- COLORS -----------------------

$color-default: #51DDFC;
$color-secondary: #58E1C1;
$color-success: #63CC82;
$color-error: #E4747A;
$color-warning: #FD7756;
$color-info: #927BC1;

$color-primary-text:#757575;
$color-grid-text: #808181;


$white: #ffffff;

// Grid Column Colors

$grid-colors: (   
    '3': #DEB2EE,   
    '4': #7EE6FD,
    '5': #88D9A0,
    '6': #3FABCA,
    '7': #EC9EA3,
    '8': #FD9E85,
   '12': #80E8D1,
);

// -------------------- BORDER -----------------------
$border: 7px solid $color-secondary;

// -------------------- GRID -----------------------
// based on: https://teamtreehouse.com/library/modular-css-with-sass/sass-grid-system/generating-column-classes

$g-col-width : 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1000px;