// -------------------- FONTS ------------------------
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Gothic A1', sans-serif;



// ----------------- BREAKPOINTS ---------------------

$break-med: 480px;
$break-lg: 1400px;


// -------------------- COLORS -----------------------

$color-default: #51DDFC;
$color-secondary: #58E1C1;
$color-success: #63CC82;
$color-error: #E4747A;
$color-warning: #FD7756;
$color-info: #927BC1;

$color-primary-text:#757575;
$color-grid-text: #808181;


$white: #ffffff;

$color-12-col: #80E8D1;
$color-6-col: #3FABCA;
$color-4-col: #7EE6FD;
$color-3-col: #DEB2EE;
$color-5-col: #88D9A0;
$color-7-col: #EC9EA3;
$color-8-col: #FD9E85;


// -------------------- BORDER -----------------------
$border: 7px solid $color-secondary;