

.theme__colors {
    width: 100%;
    background-color: $white;
    font-size: .9em;
    padding: 15px 0;
    margin: .9em auto;
    background: tomato;
    border-radius: 5px;
    border: none;

    color: white;
    font-style: 700;
    font-family: $font-secondary;
}

.btn--default {
    background: $color-default;
    text-transform: uppercase;
}

.btn--success {
    background: $color-success;
    text-transform: uppercase;
}

.btn--error {
    background: $color-error;
    text-transform: uppercase;
}

.btn--warning {
    background: $color-warning;
    text-transform: uppercase;
}

.btn--info {
    background: $color-info;
    text-transform: uppercase;
}