

.theme__colors {
    width: 100%;
    background-color: $white;
    font-size: .9em;
    padding: 15px 0;
    margin: .9em auto;
    background: tomato;
    border-radius: 5px;
    border: none;
    text-align: left;
    font-style: 700;
    font-family: $font-secondary;
}

.btn--default {
    background: $color-default;
    @include btn;
}

.btn--success {
    background: $color-success;
    @include btn;
}

.btn--error {
    background: $color-error;
    @include btn;
}
.btn--warning {
    background: $color-warning;
    @include btn;
}

.btn--info {
    background: $color-info;
    @include btn;
}