

// .theme__colors {
//     width: 100%;
//     font-size: .9em;
//     padding: 15px;
//     border-radius: 5px;
//     border: none;
//     text-align: left;
// }

.btn--default {
    @include theme__colors {
        justify-content: center;
        margin-right: .5em;
        margin-left: .5em;
    };
    @include btn {
        background: $color-default;
    }
}

.btn--success {
    @include theme__colors {
        justify-content: center;
        margin-right: .5em;
        margin-left: .5em;
        // how do I create space between buttons?
    };
    @include btn {
        background: $color-success;
    }
}

.btn--error {
    @include theme__colors;
    @include btn {
        background: $color-error;
    }
}
.btn--warning {
    @include theme__colors;
    @include btn {
        background: $color-warning;
    }
}

.btn--info {
    @include theme__colors;
    @include btn {
        background: $color-info;
    }
}