// ----------------- FORM STYLES ---------------------


.form {
    @include mq(large) {
    margin: 0 4em;
    width: 100%;
    }
    &__label--hidden,
    &__input {
        display: flex;
        width: 90%;
    }
    &__label--hidden {
        display: none;
    }
    &__input {
        border: none;
        border-bottom: $border;
        margin: 2em auto 1em;
        padding: .5em; 
        @include mq(medium) {
            margin-top: .5em;
        }
    }
    &.button.theme__colors {
        @include mq(medium) {
        margin-left: 0;
        margin-right: 0;
        width: 100% !important;
        }
    }   
}
