// ----------------- FORM STYLES ---------------------

.form__label--hidden,
.form__input {
    display: flex;
    width: 100%;
}
.form__label--hidden {
    display: none;
}
.form__input {
    border: none;
    border-bottom: $border;
    margin: 2em;
    padding: .5em; 
}