// ----------------- FORM STYLES ---------------------


.form {
    &__label--hidden,
    &__input {
        display: flex;
        width: 90%;
    }
    &__label--hidden {
        display: none;
    }
    &__input {
        border: none;
        border-bottom: $border;
        margin: 2em auto 1em;
        padding: .5em; 
        @media (min-width: $break-m) {
            margin-top: .5em;
        }
    }
    @media (min-width: $break-l) {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-grow: 1;
    }
    &.button {
        @media (min-width: $break-m) {
        margin-left: 0;
        margin-right: 0;
    }
    }
}
