// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed

// **********************************************


// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    

    // NOTE: replace with media query mixin if aiming for exceeds
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // .grid__col
  &__col {
    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i}.theme__colors {
        @include theme__colors;

        // base styles applied to all grid columns 
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;
          
        // NOTE: replace with media query mixin if aiming for exceeds
        @media (min-width: 768px) {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
      @each $grid-number, $bgcolor in $grid-colors {
          &--#{$grid-number}.theme__colors {
            background-color: $bgcolor;
          }
      }


//this was manually coded. I am leaving in so that you can see my process but managed to do it with an @each loop following this video: https://teamtreehouse.com/library/loop-through-data-in-a-map-with-each.
      // &--3.theme__colors {
      //   background-color: $color-3-col;
      // }
      // &--4.theme__colors {
      //   background-color: $color-4-col;
      // }
      // &--5.theme__colors {
      //   background-color: $color-5-col;
      // }
      // &--6.theme__colors {
      //   background-color: $color-6-col;
      // }
      // &--7.theme__colors {
      //   background-color: $color-7-col;
      // }
      // &--8.theme__colors {
      //   background-color: $color-8-col;
      // }
      // &--12.theme__colors {
      //   background-color: $color-12-col;
      // }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @media (min-width: 768px) {

      // add grid gutter
      margin-left: 10px;
    }
  }
}