// ----------------- IMAGE STYLES ---------------------

.img {
    &--avatar {
    margin: 25px auto;
    display: flex;
    }
    &--frame {
    border: .5px solid lightgrey;
    padding: 15px;
    width: 100%;
    }
    &--logo {
        margin: 25px auto;
        @media (min-width: $break-m) {
            margin: 0 auto 0 1em;
            
        }
    }
}

