// ----------------- TYPOGRAPHY STYLES ---------------------


.headline--secondary {
    font-weight: 200;
    text-align: left;
    @media (min-width: $break-m) {
        margin-top: 0;
    }
}
.headline--primary {
    @include indented-text;
    color: $color-secondary;
    font-size: 1.8em;
}
.link {
    color: $color-default;
    text-decoration: none;
    font-weight: bold;
}
.blockquote {
    @include indented-text;
    padding-left: 20px;
    border-left: $border;
    border-radius: 5px;
    font-size: 1.5em;
    font-style: italic;
}



