// $color-primary-text: #B3B3B3;
// $color-grid-text: #808181;
// $color-form-text: #757575;


// ----------------- BASE STYLES ---------------------

* {
    box-sizing: border-box;
}

body {
     font-family: $font-primary;
     color: $color-primary-text;
    //       display: flex;
    //       flex-wrap: wrap;
    //  justify-content: center;
    //  flex-grow: 1;
     margin: 2em;
    //  padding: 0;
    //  width: 100%;

}

//might need to remove this...
.container {
    // margin: 0 auto;
    text-align: center;
}

ul {
    padding: 0;

}

ul li {
        // margin: 15px 0;
        border-radius: 5px;        
}
P {
    line-height: 1.7;
    text-align: left;
}



