

// ----------------- BASE STYLES ---------------------

* {
    box-sizing: border-box;
}

body {
     font-family: $font-primary;
     color: $color-primary-text;
     margin: 2em;
}

.container {
    @include center;
}

ul {
    padding: 0;
    @include mq(medium) {
        @include flexy;
        width: 100%;
        padding-left: 2em;
    }
    li {
        border-radius: 5px;        
    }
}

p {
    line-height: 1.7;
    text-align: left;
}



