// $color-primary-text: #B3B3B3;
// $color-grid-text: #808181;
// $color-form-text: #757575;


// ----------------- BASE STYLES ---------------------

* {
    box-sizing: border-box;
}

body {
     margin: 1em;
     padding: 2em;
     text-align: center;
     font-family: $font-primary;
}

//might need to remove this...
.container {
      margin: 0 auto;
}
ul {
    padding: 0;
}

ul li {
        margin: 15px 0;
        border-radius: 5px;        
}
P {
    color: $color-primary-text;
    line-height: 1.7;
}



